body{
margin:0;
font-family:Arial;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("https://images.unsplash.com/photo-1492724441997-5dc865305da7");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:60px;
animation:slideDown 1s ease;
}

.hero p{
font-size:20px;
margin-bottom:20px;
}

.feature-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.feature-box:hover{
transform:translateY(-10px);
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
}

@keyframes slideDown{
from{
transform:translateY(-50px);
opacity:0;
}

to{
transform:translateY(0);
opacity:1;
}
}